//color schemes
//1
$styleNumber: '';
$colorMain: #ff4e3c;
$colorMain2: #fff000;
$colorMain3: #38b83e;
$colorMain4: #1887cd;
//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;