//color schemes
//2
$styleNumber: '2';
$colorMain: #1887cd;
$colorMain2: #38b83e;
$colorMain3: #fff000;
$colorMain4: #ff4e3c;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;